@import '~amo/css/styles';

$callout-color: #ffea80;

.GetFirefoxButton--in-headercallout {
  display: flex;
}

.GetFirefoxButton-button {
  margin: auto;
  white-space: nowrap;
  width: 100%;

  @include respond-to(medium) {
    align-self: flex-end;
    margin-bottom: 12px;
    width: auto;
  }
}

.GetFirefoxButton-callout {
  background-color: $callout-color;
  // background-image: -moz-linear-gradient(top, #FFEA80, #FFEA80);
  border: 1px solid $callout-color;
  // float: left;
  position: relative;
  text-align: center;
	// border-radius: 3px;
	// min-height: 50px;

  @include respond-to(medium) {
    margin: 16px auto 16px auto;
  }

  &::before {
    border: 0.8em solid transparent;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
  }
}

.GetFirefoxButton-callout--top {
  margin: 16px 0 16px 0;
  padding: 10px;
}

.GetFirefoxButton-callout--top::before {
  border-top: 10px solid $callout-color;
  bottom: -20px;
  left: 45%;
}

.GetFirefoxButton-callout--left {
  border-radius: 2px;
  font-size: $font-size-xs;
  // height: auto;
  justify-content: center;
  letter-spacing: 0.01rem;
  margin: 0 8px 12px auto;
  padding: 0 8px 0 8px;
}

.GetFirefoxButton-callout--left::before {
	border-left: 10px solid $callout-color;
  right: -20px;
	top: 10%;
}
